/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    max-height: 200px;
    font-family: "DM Sans", sans-serif;
    color: #6D8A96;  
}

/* Header Styles */
.fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #264653;
    padding: 20px 0;
}

.container-fluid {
    background-color: #264653;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-font {
    text-transform: uppercase;
    color: #F4A261;
}

/* Container Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; 
    text-align: center;
}

.container h1 {
    color: #F4A261; 
}

#main-nav {
    background-color: #264653;
}

/* Shop Now Button Styles */
.shop-now-button,
.btn-black {
    background:#264653; /* Different button color */
    color: #fff;
    padding: 20px 40px; /* Increased button padding */
    border: none;
    border-radius: 8px; /* Rounded corners */
    font-size: 1.8rem;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #F4A261;
    color: #F4A261;
}

/* Text Color Styles */
.text-black {
    color: #264653;
}

/* Border Styles */
.border-black {
    border: 2px solid #264653;
}

.bg-black {
    background: #264653;
}

/* -------------------------------- Media Queries */

/* Larger Container on XL Screens */
@media (min-width: 1200px) {
    .container {
        width: 90%;
    }
}

/* Fixed Top Navbar Only on Medium and Up */
@media (min-width: 992px) {
    .container {
        padding: 100px 0; /* Adjusted padding */
    }

    .shop-now-button {
        min-width: 250px;
        font-size: 2rem;
    }
}
