<div class="collapse navbar-collapse"  id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="consoles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="consoles-link">
                <a href="{% url 'products' %}?category=xbox" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?category=playstation" class="dropdown-item">PlayStation</a>
                <a href="{% url 'products' %}?category=steam_deck" class="dropdown-item">Steam Deck</a>
                <a href="{% url 'products' %}?category=xbox,nintendo,playstation,steam_deck" class="dropdown-item">All Consoles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=controllers" class="dropdown-item">Controllers</a>
                <a href="{% url 'products' %}?category=headsets" class="dropdown-item">Headsets</a>
                <a href="{% url 'products' %}?category=controllers,headsets" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>