{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category > 0 %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.get_rating > 0 %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>Rating: {{ product.get_rating }}/5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <!--Extracted from Django Ecommerce Website | Product Reviews | Htmx and Tailwind | Part 20 (https://www.youtube.com/watch?v=8iCqlFyFu2s)-->
        <div class="container">
            <div class="reviews-section">
                <h2 class="text-xl">Reviews</h2>
                {% if request.user.is_authenticated %}
                <form method="post" action="." class="review-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rating">Rating</label><br>
                        <select name="rating" id="rating" class="form-control">  
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label><br>
                        <textarea name="content" id="comment" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                <p><a href="{% url 'account_login' %}">Login</a> to leave a review.</p>
                {% endif %}
                <div class="review-list">
                    {% for review in product.reviews.all %}
                    <div class="review-item">
                        <div class="rating">Rating: {{ review.rating }}/5 <i class="fas fa-star mr-1"></i></div>
                        <div class="date">Date: {{ review.created_at|date:"d/m/Y" }}</div>
                        <div class="creator">Created by: {{ review.created_by.username }}</div>
                        <strong>Comment:</strong><br>
                        {{ review.content }}
                        {% if review.created_by == request.user %}
                            <small class="ml-3 text-muted">
                                <a href="{% url 'review_edit' review_id=review.id %}" class="btn btn-link btn-sm">Edit</a> | 
                                <form action="{% url 'review_delete' review_id=review.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link btn-sm text-danger">Delete</button>
                                </form>
                            </small>       
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}